<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div class="box">
        <ul>
            <li>Go menu option</li>
            <li>Click on the signup button</li>
            <li>Then login to your account</li>
            <li>Click on the new button to add login details of any website</li>
            <li>We can manage the stored login details accordingly</li>
            <li>Your user details and login details stored only after encryption</li>
            <li>So, you trust....</li>
        </ul>
    </div>
</body>
</html>