<!DOCTYPE html>
<html lang="en">
<head>
	<title>one2many login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/login1.css">
	<link rel="stylesheet" type="text/css" href="/styles/login2.css">
<style>
	@font-face{
		font-family: userfont;
		src: url(/fonts/MetalMania-Regular.ttf);
	}
	span.label-input100{
		font-family: userfont;
		font-size: 18px;
	}
</style>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/images/login.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" action="/auth/login" method="POST">
					<span class="login100-form-title p-b-49 ">
						Login
					</span>

					<div class="wrap-input100 validate-input " data-validate = "Username is reauired">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Type your username" required="">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
						
					</div>
					<small style="color:red" class="ml-3">
						<% if(message){ %> 
							<%= message[0]  %> 
						<% } %> 
					</small>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Type your password" required="">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					
					
					<div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">

						<a href="/auth/google" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Sign Up Using
						</span>

						<a href="/auth/signup" class="txt2">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<%- include('partials/scripts')  %> 
<script src="/utility_js/login.js"></script>

</body>
</html>