<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
    <style>
        body{
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <center>
        <h1>Temporary Server Error</h1>
    </center>
</body>
</html>